@use "./mixins/mixins";

* {
    margin: 0;;
}

body {
    margin: 20px;
}

.button,
.pill,
.chip {
    margin: 10px;
}

.button {
    @include mixins.div-background-color(lightgrey);
    @include mixins.div-font-style;
    @include mixins.outline-decoration-color(dotted, red)
}

.chip {
    @include mixins.div-font-style;
    @include mixins.outline-decoration-color(solid, blue)
}

.pill {
    @include mixins.div-font-style;
    @include mixins.outline-decoration-color(dashed, blue);
}